<footer class="footer footer--contrib">
    <p class="footer__text">Made with <span data-feather="heart"></span> by Krzysztof Janda using <a href="https://picturepan2.github.io/spectre/index.html" rel="nofollow" target="_blank">Spectre</a> and <a href="https://sculpin.io" rel="nofollow" target="_blank">Sculpin</a>. Inspired by Xiaoying Riley's <a href="https://themes.3rdwavemedia.com/demo/orbit/" rel="nofollow" target="_blank">template</a>.</p>
</footer>
