<div class="profile__container">
    <img src="assets/images/profile.jpg" width="150" height="150" alt="{{ site.name }}" itemprop="image" class="profile__image">
    <h1 class="profile__name" itemprop="name">{{ site.name }}</h1>
    <div class="profile__job-title" itemprop="jobTitle">{{ site.job_title }}</div>
</div>
