<IfModule mod_deflate.c>
    <filesMatch ".(css|js|x?html?|php|woff|otf|ttf)$">
        SetOutputFilter DEFLATE
    </filesMatch>
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 seconds"

    <FilesMatch "\.(jpg|jpeg|png|gif|swf|ico|css|js|woff|otf|ttf)$">
        ExpiresDefault A604800
    </FilesMatch>

    ExpiresByType text/html "access plus 600 seconds"
    ExpiresByType application/xhtml+xml "access plus 600 seconds"
</IfModule>

<IfModule mod_headers.c>
    <filesMatch ".(ico|jpe?g|png|gif|swf)$">
        Header set Cache-Control "max-age=2592000, public"
    </filesMatch>
    <filesMatch ".(css)$">
        Header set Cache-Control "max-age=604800, public"
    </filesMatch>
    <filesMatch ".(js)$">
        Header set Cache-Control "max-age=604800, private"
    </filesMatch>
</IfModule>

#FileETag None
